# Виртуальное окружение
venv/
.venv/
__pycache__/
*.pyc

# Настройки IDE
.idea/
.vscode/

# Секретные данные (Ключи API)
config.txt

# Словари и база данных (Они огромные)
resources/dictionaries/*.zip
resources/dictionaries/*.db
dictionaries.db

# Папки сборки (для EXE)
build/
dist/
*.spec
settings.json
